body {
    padding: 2em;
}

.control {
    margin-bottom: 2em;
}

.rangeSlider {
    margin-bottom: 0.5em;
}

.scene {
    width: 400px;
    float: left;
    margin-right: 1em;
}

input {
    width: 50px;
}
